<section class="conheca_comunidades">
    <h1>Principais Eventos dos Povos Tradicionais </h1>
    <div class="informacao_mapa">
        <p>
            Atualmente, para obter informações sobre os povos tradicionais como indígenas e quilombolas do baixo amazonas é necessário consultar o coordenador das respectivas comunidades, anciãos, líderes de tribo, cacique etc, causando com isso dificuldades no alcance das informações. Diante dessa problemática, o objetivo do nosso observatório é integrar e centralizar no site as informações relevantes sobre a formação, cultura, vivência, linguagem e os eventos desses povos, proporcionando assim uma maior visibilidade, acessibilidade e valorização à cultura dos mesmos.
        </p>
        <div class="map_comunidades">
            <div class="circulo"></div>
        </div>
    </div>
    <button>Ver Comunidades</button>
</section>