<header>
<section class="header_img">
    <img src="/view/assets/img/header_img.svg" alt="Imagem de uma capivara">
</section>

<section class="header_nav">
    <nav>
        <ul>
            <li><a href="/view/paginas/inicio/index.html">Inicio</a></li>
            <li><a href="/view/paginas/noticias/index.html">Notícias</a></li>
            <li><a href="#3">Eventos</a></li>
            <li><a href="#4">Comunidades</a></li>
            <li><a href="#5">Sobre Nós</a></li>
        </ol>
    </nav>
</section>

<section class="header_lg_cad">
<button onclick="redirecionarLogin()">Login</button>
<button onclick="redirecionarCadastro()">Cadastro</button>
</section>
</header>



