<section class="principais_eventos">
    <h1>Principais Eventos dos Povos Tradicionais </h1>
    <p class="principal_eventos_legenda">Area destinada a mostrar os princiais eventos que estao prestes a acontecer, venha ver e participar </p>
    <section class="principais-eventos-imagens">
        <div class="principais-eventos-imagem">
            <img src="/view/assets/img/carrossel.png" alt="">
            <p>
                Evento:  Festival da castanha 
            </p>
            <p>
                Data: 27 de  março 2024
            </p>
            <p>
                Categoria:  Evento Turistico,
                Aberto ao publico
            </p>
            <a href="">Saiba mais...</a>
        </div>
        <div class="principais-eventos-imagem">
            <img src="/view/assets/img/floresta.jpg" alt="">
            <p>
                Evento:  Festival da castanha 
            </p>
            <p>
                Data: 27 de  março 2024
            </p>
            <p>
                Categoria:  Evento Turistico,
                Aberto ao publico
            </p>
            <a href="">Saiba mais...</a>
        </div>
        <div class="principais-eventos-imagem">
            <img src="/view/assets/img/meteoro.jpg" alt="">
            <p>
                Evento:  Festival da castanha 
            </p>
            <p>
                Data: 27 de  março 2024
            </p>
            <p>
                Categoria:  Evento Turistico,
                Aberto ao publico
            </p>
            <a href="">Saiba mais...</a>
        </div>
    </section>
    <button>Ver outros eventos disponiveis </button>
</section>