<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fonte-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- css-->
    <link  rel="stylesheet" href="/view/assets/css/index.css">

    <!--bootstrap-->
    <title>noticias</title>
</head>
<body>
<script src="/view/assets/js/header.js"></script>
<script src="/view/assets/js/footer.js"></script>
<script src="/view/assets/js/noticias/noticias.js"></script>
<script src="/view/assets/js/conheca_comunidades.js"></script>
</body>
</html>