<section class="slider">
    <section class="slides">
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio2">
        <input type="radio" name="radio-btn" id="radio3">


        <section class="slide first">
            <img src="/view/assets/img/carrossel.png" alt="Imagem 1">
            <div class="titulo1"> 
                <h1>Cometa luminoso passará pela terra pela primeira vez em 71 anos</h1>
                <p>
                    Prepare-se para um espetáculo celestial! O cometa 12P/Pons-Brooks, 
                    um dos mais luminosos já conhecidos, está se aproximando da Terra e 
                    será visível pela primeira...
                </p>
                <button onclick="">Veja Aqui</button>
            </div>
        </section>
        <section class="slide">
            <img src="/view/assets/img/floresta.jpg" alt="Imagem 2">
            <div class="titulo2"> 
                <h1>Cometa luminoso passará pela terra pela primeira vez em 71 anos</h1>
                <p>
                    Prepare-se para um espetáculo celestial! O cometa 12P/Pons-Brooks, 
                    um dos mais luminosos já conhecidos, está se aproximando da Terra e 
                    será visível pela primeira...
                </p>
                <button onclick="">Veja Aqui</button>
            </div>
        </section>
        <section class="slide">
            <img src="/view/assets/img/meteoro.jpg" alt="Imagem 3">
            <div class="titulo3"> 
                <h1>Cometa luminoso passará pela terra pela primeira vez em 71 anos</h1>
                <p>
                    Prepare-se para um espetáculo celestial! O cometa 12P/Pons-Brooks, 
                    um dos mais luminosos já conhecidos, está se aproximando da Terra e 
                    será visível pela primeira...
                </p>
                <button onclick="">Veja Aqui</button>
            </div>
        </section>


        <section class="navigation-auto">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
            <div class="auto-btn3"></div>
        </section>


        <section class="manual-navigation">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>

        </section>


    </section>
</section>

